
<div id="Contact">
<section class="formulier">
    <header>
        <h4>Contact</h4>
    </header>
    <div>
    <p>Heb je nog vragen of opmerkingen?</p>
    <p>Vul onderstaand formulier in n wij zullen je binnen 1-2 dagen contacteren.</p>

    </div>
    <form>
        <div class="block">
        <label for=naam>Naam</label>
            <input id="naam" class="inputbox" type="text" name="naam">
        </div>
        <div class="block">
            <label for=email>E-mail</label>   <input  id="email"class="inputbox" type="text" name="lname">
        </div>

        <div class="block">
            <label for=telefoon>Telefoon</label><input  id="telefoon"class="inputbox" type="text" name="fname">
        </div>
        <div class="block">
            <label for=onderwerp>Onderwerp</label> <input  id="onderwerp"class="inputbox" type="text" name="fname">
        </div>
        <div class="block">
            <label for=bericht>Bericht</label> <br>
            <textarea id="bericht"  class="inputbox" type="text" name="fname" rows="10" cols="2" ></textarea>

        </div>
        <input type="submit" value="Verzenden">






    </form>








</section>

<section class="map">
    <header>
        <img src="Content/images/contactplaatje.png">
    </header>
</section>
</div>