<div id="main">

    <div class="Het_bedrijf">
        <header><h2>Hoe werkt het?</h2></header>
<p>De gebruiker komt op de website om een eigen kaart te ontwerpen. De gebruiker moet tussen drie verschillende thema’s
    kunnen kiezen: verhuizen, samenwonen en housewarming.

    Wanneer de gebruiker tussen deze thema’s heeft gekozen kan de gebruiker kiezen om een template te gebruiken of een
    lege kaart. Wanneer er wordt gekozen voor een template zullen er verschil- lende kaarten verschijnen waaruit de
    gebruiker kan kiezen. Deze template moet de gebruiker kunnen aanpassen naar zijn of haar smaak. Hier moeten zij
    bijvoorbeeld de gebruikte foto’s kunnen vervangen met eigen foto’s. Verder moeten alle opties toegepast kunnen
    worden die ook toegepast kunnen worden bij een lege kaart.

    Bij het kiezen voor een lege kaart zal de gebruiker verschillende ac- ties kunnen ondernemen om deze naar zijn of
    haar smaak te ontwer- pen. Zo moet de gebruiker de achtergrondkleur kunnen aanpassen, verschillende iconen, eigen
    foto’s en tekst kunnen toevoegen en aanpassen.

    Na het ontwerpen van de voorkant kan de gebruiker aan de bin- nenkant van de kaart tekst toevoegen en verschillende
    iconen. Hier moet gekozen worden voor een bepaald lettertype, tekstgrootte en tekstkleur.</p>

    </div>

    <div id="onsteam">        <img src="./Content/images/Ons team.png"></div>


</div>