<header><h2 class="center">Waarvoor wil je een kaart ontwerpen</h2></header>
<!--<p>{{test}}</p>-->

<nav class="center">
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="verhuizen">Verhuizen</button></a>
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="samenwonen">Samenwonen</button></a>
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="housewarming">Housewarming</button></a>
</nav>


