<form id="inloggen">
    <div class="block">
        <label for=naam>E-mail adres</label>
        <input id="naam" class="inputbox" type="email" name="email">
    </div>
    <div class="block">
        <label for=email>Wachtwoord</label>
        <input  id="email"class="inputbox" type="password" name="password">
    </div>
    <img id="loginknop" src="Content/images/inloggenknop.png"  data-ng-click="login();"/><br>
    <a href="#/registreren">Registreren</a><br>
    <a href="" title="Niet geïmplementeerd">Wachtwoord vergeten</a>
</form>