<div id="overzichtFormaat">

<h2>Bekijk hier jouw zelfgemaakte kaart!</h2>
 <div id="voorkantPreview">
     <img id="voorkantPreviewImage"   class="preview"    src="" />

 </div>

    <div id="binnenkantPreview">

        <img id="binnenkantPreviewImage"   class="preview"    src="" />

    </div>


    <div id="envelopPreview">

        <img id="envelopPreviewImage"   class="preview"    src="" />
    </div>






    <div id="formaatSelectie">
        <p>Kies het formaat van je kaart:</p>
        <img id="smallbutton"   class="formaatButton"    src="Content/images/buttons/small_unselected.png" />
        <img id="mediumbutton"  class="formaatButton"  src="Content/images/buttons/medium_unselected.png" />
        <img id="largebutton"   class="formaatButton"  src="Content/images/buttons/large_unselected.png" />
    </div>



</div>

