body {
    background-image: url('../Content/images/freeseams-20.jpg'); /*example*/
}

#canvas {
    margin: auto;
    display: block;
    background-color: #ffffff;
    border: 1px grey solid;
}

.kiesthemaknop {
    width: 120px;
    height: 160px;
    margin: 10px;
    background-color: #ffffff;      /*temp*/
}

#verhuizen {

}

#samenwonen {

}

#houswarming {

}