@font-face {
    font-family: 'helvetica custom';
    src: url('../Content/fonts/Helvetica_LT_25_Ultra_Light.eot');
    src: url('../Content/fonts/Helvetica_LT_25_Ultra_Light.woff') format('woff'),
    url('../Content/fonts/Helvetica_LT_25_Ultra_Light.ttf') format('truetype'),
    url('../Content/fonts/fontscore.com_h_helvetica-neue-lt-std-25-ultra-light.otf');
}

@font-face {
    font-family: 'skinny';
    src: url('../Content/fonts/TheSkinny.eot');
    src: url('../Content/fonts/TheSkinny.woff') format('woff'),
    url('../Content/fonts/TheSkinny.ttf') format('truetype'),
    url('../Content/fonts/TheSkinny.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cookie';
    src: url('../Content/fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Bondoluo Peek';
    src: url('../Content/fonts/BondoluoPeek.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Harabara Hand';
    src: url('../Content/fonts/HarabaraHand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Simply Glamorous';
    src: url('../Content/fonts/Simply Glamorous.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marcelle';
    src: url('../Content/fonts/Marcsc___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url('../Content/fonts/BEBAS___.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rosewood Std';
    src: url('../Content/fonts/Rosewood Std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basictitlefont';
    src: url('../Content/fonts/basictitlefont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BDrouen';
    src: url('../Content/fonts/BDRouen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Allura';
    src: url('../Content/fonts/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Julliscriptum';
    src: url('../Content/fonts/Julliscriptum-Reloaded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BD Marseille';
    src: url('../Content/fonts/BDMarseille.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background: url('../Content/images/achtergrondwebsite.jpg');
    padding: 0;
    margin: 0;
    height: 90%;
}

#animated-view {
    padding: 0 40px;
}

html {
    overflow-y: scroll;
    height: 90%;
}

html * {
    font-family: "helvetica custom";
    letter-spacing: 0.55em;
}

.wrapper {
    width: 1100px;
    height: 600px;
    margin: 20px auto 0 auto;
}

p {
    font-family: Arial;
    font-size: 12px;
    letter-spacing: normal;

}

h1,h2, h3, h4, h5, h6 {
    font-family: "skinny";
    color: #676767;
}
h4{
    text-align: center;
}
h5{

}

#homeNav {
    background-color: white;
    width: 100%;
    height: 50px;
    padding-left: 5%;
    margin: 60px 0 80px 0;
}

#homeNav ul li {
    display: inline-block;
    margin: -50px 25px 0 0;
    list-style: none;


}

#homeNav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    color: #70c7a9;

}

#homeNav ul {
    position: relative;
    margin: 0;
    padding: 0;
}

#bottomline {
    height: 2px;
    border-top: solid thin #d3d3d3;
    background-color: #f7f7f7;
    width: 100%;
    position: relative;
    top: -80px;
    z-index:-1;
}

.bottomlineBlock {
    height: 1.5px;
    background-color: #70c7a9;
    width: 100%;
    position: relative;
    left: -4%;
    bottom: -14px;
}

#logo {
    height: 155px;
    width: 155px;
}

/*Editor partial:*/
#canvasHolder {
    width: 690px;
}

.canvas {
    margin: auto;
    display: block;
    background-color: #ffffff;
    border: 1px rgba(184, 184, 184, 0.81) solid;
    box-shadow: 1px -1px 6px rgba(45, 50, 50, 0.75);
}

#smallTools {
    float:right;
    margin-left: -0px;
    /*margin-top: 20px;*/
    width: 30px;
}

/*Homepage partial:*/
.kiesthemaknop {
    width: 180px;
    height: 240px;
    margin: 50px 10px 10px 10px;
}

#verhuizen {
    background-image: url("images/Verhuizen.png");
}

#samenwonen {
    background-image: url("images/samenwonen.png");
}

#housewarming {
    background-image: url("images/Housewarming.png");
}

/*Template Partial:*/
#selectedTemplate {
    box-shadow: 5px 5px 5px #ffffff;
}

.template {
    margin: 10px;
    background-color: #ffffff;
}

.templateliggend {
    width: 166px;
    height: 120px;
}

.templatestaand {
    width: 120px;
    height: 166px;
}

.center {
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    display:box;
    box-pack:center;
    box-align:center;

    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
}


.left {
    float:left;

}

.right {
    float:right;
}

#editorTools {
    /*background-color: white;*/
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    top:-25px;
    position: relative;
    margin-left: 50px;
}

#editorTools button {
    display:-webkit-box;
    -webkit-box-pack:end;
    -webkit-box-align:end;
}

#templateForm label img {
    margin: 0 10px;
}

.end {
   margin-top: -40px;
    display:-webkit-box;
    -webkit-box-pack:end;
    -webkit-box-align:end;

    display:-moz-box;
    -moz-box-pack:end;
    -moz-box-align:end;

    display:box;
    box-pack:end;
    box-align:end;

    display:-ms-flexbox;
    -ms-flex-pack:end;
    -ms-flex-align:end;
}

#tabContainer {
    width: 353px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box; /* Safari */
    border: 2.5px dotted white;
    border-top: none;

}

.navbutton{
    padding: 0;
    border: none;
    background: none;
}

#vorigeknop {
    background-image: url('../Content/images/vorigeKnop.png');
    width: 129px;
    height: 41px;
    margin: 10px 0 10px -30px;
    display: inline-block;
    float: left;
}

#volgendeknop {
    background-image: url('../Content/images/volgendeKnop.png');
    width: 129px;
    height: 41px;
    margin: 10px -40px 10px -0;
    display: inline-block;
    float:right;

}

#canvasPicker {
    text-align: center;
}

.tabs {
    height: 86px;
    margin-bottom: 25px;
}

.tabs>li{
    float:left;
    list-style: none;
}
.tabscontent {
    width: 353px;

}

.tabscontent label {
    color:#70c7a9;
}

.tabscontent * {
    margin-bottom: 10px;
}

.tabscontent div {
    text-align: center;
    margin: auto;


}

#combo {
    background: transparent url("../Content/images/pijltjeomlaag.png") no-repeat right center;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #70c7a9;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
}

#navKaart {
    width: 100%;
    margin-top: 10px;
}

#navKaart a {
    text-decoration: none;
    color: #676767;
    margin: 0 25px;
}
a{
    text-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "skinny";
    color: #676767;
}
p {
    margin-bottom: 1.1em;
    margin-top: 0;
}
#main p.lastNode {
    margin-bottom: 0;
}
a:link img, a:visited img {
    border: none;
}
div.clearFloat {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0px;
}
li.clearFloat {
    clear: both;
}
ul.symbolList {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.AbsWrap {
    position: relative;
    width: 100%;
}
.rowWrap {
    width: 100%;
}
#main {
    margin: 0 auto 0 0;
    width: 1152px;
}
.OVER_ONS {
    font-family: 'The Skinny bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #676767;
    line-height: 0%;
    padding-bottom: 2px;
    padding-top: 1px;
    margin-left: 301px;
    margin-top: 50px;
    display: inline;
    float: left;
    margin-bottom: 0;
}
.Het_bedrijf{
    font-family: Arial, Helvetica, sans-serif;

    text-align: left;
    color: #676767;

    padding-bottom: 2px;
    padding-top: 1px;
    margin-left: 135px;
    margin-top: -20px;
    display: inline;
    float: left;
    margin-bottom: 0;
    width: 50%;
}

input[type = range] {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background-color: #70c7a9;
    height:2px;
    margin-bottom: 20px;
}

#achtergrondImage {
    background:url("../Content/images/knop-achtergrond-foto.png") no-repeat;
    height: 43px;
    width: 230px;
    margin-bottom: 20px;
}

#inputFile {
    background: url("../Content/images/fotouploadenknop.png") no-repeat;
    width: 228px;
    height: 40px;
    margin-bottom: 20px;
}

#inputAchtergrond {
    background: url("../Content/images/knop-achtergrond-foto.png") no-repeat;
    width: 228px;
    height: 40px;
    margin-bottom: 20px;
}
input[type = file] {
    width: 228px;
    height: 40px;
    opacity: 0;
}

input::-webkit-slider-thumb{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    width:10px;
    height:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    background-color: #70c7a9;
}

.nietAf {
    text-decoration: line-through
}

#steps{
    float:left;
    width: 1100px;
    height: auto;
}

.map{
    float:right;
    width: 50%;
}

.formulier{
    float:left;
    width: 50%;
}

#Contact{
    margin: 10%;
    margin-top: -150px;
}

.inputbox{
    border: 1px solid #70c7a9;

}


.block label{
    float:left;
    width:150px;
    padding-right:5px;
}
.block{
    overflow:hidden;
}
.block input{
     float:left;
 }

.block textarea{
    float:left;
}

#onsteam{
    float:right;
}



#registreerform{
    text-align: center;
}


.adresicon{
    width: 50px;
    float: left;
    height: 50px;
}

#adressen{



    float: right;


}

#overzichtFormaat{

    margin-left: 15%;
    margin-right: 15%;
}

#voorkantPreview{
    float:right;
    width: 50%;


}


#binnenkantPreview{
    float:left;
    width: 50%;
    height: 50%;
}

#envelopPreview{
   float:left;
    width: 50%;
    height: 50%;
}

#formaatSelectie{
    float:left
}



#binnenkantPreviewImage{
    /*height: 80%;*/
}

#envelopPreviewImage{

    /*height: 40%;*/
}

#voorkantPreviewImage{

    /*height: 20%;*/
    width: 700px;
   height: 550px;
    float: right;

    background-image: url('images/adressenboekje.png');

}

h2{
  margin-top: -10px;
}

#cookie{
    font-family: cookie;
}




