<header><h4>this is the editor page!</h4></header>

<div class="left">
    <canvas id="canvas" width="650px" height="450px" name="kaart" model="textInput">Canvas is not supported in this browser</canvas>
    <button onclick="printNaarConsole();">print canvas naar console</button>
</div>
<div id="editorTools" class="right">
    <input type="file" id="imgLoader">
    <button onclick="askText();">add Text</button>
    <button onclick="achtergrondImage();">add achtergrond image</button>
    <button onclick="setItalic();">ITALIC</button>
    <button onclick="setBold();">BOLLDDDDD</button>
    <button onclick="setUnderline();">UNDERLINE</button>
    <button onclick="reset();">CLEAN START</button>
    <button onclick="removeObject();">Remove</button>
    <button onclick="bringToFront();">Bring To Front</button>

    <input id="transSlider" type="range" min="0" max="100" value="10" />
    <canvas id="picker" width="300" height="300" name="kleurkiezer" model="textInput" class="ng-scope"></canvas>
</div>



