<header><h4>this is the editor page!</h4></header>
<!--//pushing-->
<div class="left">
    <canvas id="canvas" width="650px" height="450px" name="kaart" model="textInput">Canvas is not supported in this browser</canvas>
    <button onclick="printNaarConsole();">print canvas naar console</button>
</div>


<div id="editorTools" class="right">
    <div id="tabContainer">
        <div class="tabs">
                <li id="Bewerken1"><img src="Content/images/tabTekst.png"></li>
                <li id="Bewerken2"><img src="Content/images/tabPlaatjes.png"></li>
                <li id="Bewerken3"><img src="Content/images/tabFoto.png"></li>
                <li id="Bewerken4"><img src="Content/images/tabKleur.png"></li>
        </div>
        <div class="tabscontent">
            <div id="tabpage_1">
                <img src="Content/images/bold.png" onclick="setBold();">
                <img src="Content/images/italic.png" onclick="setItalic();">
                <img src="Content/images/underline.png" onclick="setUnderline();">
                <img src="Content/images/alignLeft.png" onclick="setUnderline();">
                <img src="Content/images/alignCenter.png" onclick="setUnderline();">
                <img src="Content/images/alignRight.png" onclick="setUnderline();">
                <!--<button onclick="askText();">add Text</button>-->
                <!--<button onclick="setItalic();">ITALIC</button>-->
                <!--<button onclick="setBold();">BOLLDDDDD</button>-->
                <!--<button onclick="setUnderline();">UNDERLINE</button>-->
                <select name="font" id="combo" class="myfont" onchange="setFont();">
                    <option>Arial</option>
                    <option>Verdana</option>
                    <option>Calibri</option>
                    <option>Lucida Calligraphy</option>
                    <option>Broadway</option>
                </select>
            </div>
            <div id="tabpage_2" style="display: none"></div>
            <div id="tabpage_3" style="display: none">
                <input type="file" id="imgLoader">
                <label>transparency<input type="checkbox" id="brightness"></label>
                <input id="transSlider" type="range" min="0" max="100" value="10" />
                <label>brightness</label>
                <input type="range" id="brightnessSlider" value="0" min="-255" max="255">
                <label>Tint:</label>
                <input type="range" id="tint" value="0" min="-255" max="255">
            </div>
            <div id="tabpage_4" style="display: none">
                <button onclick="achtergrondImage();">add achtergrond image</button>
            </div>

            </div>
        <div id="canvasPicker">
        <canvas id="picker" width="217" height="217" name="kleurkiezer" model="textInput" class="ng-scope"></canvas>
        </div>
        </div>
</div>



