<header><h2 class="center">Wat ga je doen?</h2></header>
<!--<p>{{test}}</p>-->

<nav id="buttonSection">
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="verhuizen">Verhuizen</button></a>
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="samenwonen">Samenwonen</button></a>
    <a href="#/templates"><button  data-ng-class="{'active':getClass('/templates')}" class="kiesthemaknop" id="housewarming">Housewarming</button></a>
</nav>


